.box1 {
  background-color: brown;
  height: 50px;
}
.box2 {
  background-color: red;
  height: 385px;
}
.box3 {
  background-color: white;
  height: 64px;
}
.box4 {
  background-color: brown;
  height: 225px;
  margin: 0px 10px;
}
.box5 {
  background-color: white;
  height: 32px;
  border-bottom: 1px solid black;
}
.box6 {
  background-color: white;
  height: 64px;
}
.box7 {
  background-color: brown;
  height: 225px;
  margin: 0px 10px 32px 10px;
  border-bottom: 1px solid black;
}
.box8 {
  background-color: brown;
  height: 225px;
  margin: 64px 10px 32px 10px;
}
.box9 {
  background-color: black;
  height: 917px;
}
.box10 {
  background-color: pink;
  height: 412px;
  border-color: red;
  border-width: 140px 32px 70px 32px;
  border-style: solid;
}
.box11 {
  background-color: black;
  height: 204px;
}
.box1a {
  background-color: navy;
  height: 50px;
}
.box2a {
  background-color: blue;
  height: 316px;
}
.box3a {
  background-color: white;
  height: 41px;
}
.box4a {
  background-color: navy;
  height: 44px;
}
.box5a {
  background-color: white;
  height: 34px;
}
.box6a {
  background-color: blue;
  height: 136px;
  border-color: white;
  border-width: 0px 14px 27px 14px;
  border-style: solid;
}
.box7a {
  background-color: gray;
  height: 375px;
  border-color: navy;
  border-width: 24px;
  border-style: solid; 
}
